@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000; /* Set default background to black */
  --foreground: #ffffff; /* Set default foreground to white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000; /* Ensure dark mode background remains black */
    --foreground: #ffffff; /* Ensure dark mode text color remains white */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide arrows in Chrome, Safari, Edge, and Opera */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
.no-arrows[type="number"] {
  -moz-appearance: textfield;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
@keyframes loopGif {
  0% {
    background-image: url("/R1WZ.gif");
  }
  100% {
    background-image: url("/R1WZ.gif");
  }
}
